<div class="header-container">
  <div class="counters">
    <button class="cat-btn cat-icon">
      <span class="iconify" data-icon="mdi:cat" data-inline="false"> </span>
    </button>
    <p class="counter">{{ deadCats }}</p>
    <!-- Cambiar este por el mata gatos  -->
  </div>
  <img class="header-logo" src="../../assets/header.svg" />
  <div class="counters">
    <!-- Button trigger modal -->
    <button
      class="fav-btn"
      type="button"
      data-toggle="modal"
      data-target="#exampleModalCenter"
    >
      <span (click)="getFavs()" class="material-icons fav-icon">
        favorite
      </span>
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Favourites Owners
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div *ngFor="let fav of favs" class="modal-body">
            <p>
              <strong> Owner: </strong>{{ fav?.first_name }} {{ fav?.last_name
              }}<strong> | Gender:</strong> {{ fav?.gender
              }}<strong> | Status: </strong>{{ fav?.status }}
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <p class="counter">{{ countFavs }}</p>
  </div>
</div>
